[diff]
    pager="delta"

[data]
    name = {{ promptString "What is your Git name for this machine?" | quote }}
    email = {{ promptString "What is your Git email address for this machine?" | quote }}
