* {
    font-family: "JetBrains Mono", "Roboto", "Helvetica", Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(29, 32, 33, 0.8);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button.focused {
    background-color: #458588;
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #language {
    padding: 0 10px;
    margin: 0 5px;
}

#battery.critical:not(.charging) {
    background-color: #fb4934;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
